{% extends "base/base.html" %}
{% load static %}

{% block content %}
  <div class="col-10">
    <div id="words-trainer" v-cloak v-if="currentPage == 'words-trainer'">
      {% verbatim %}
      <ul class="list-container topics-list">
        <li v-for="topic in topics" class="topics-list__item" @click="selectTopic(topic, $event)"
            v-bind:class="{'topics-list__item_active text-white': topic.selected}">
          {{ topic.name }}
        </li>
      </ul>

      <ul class="list-container words-list mt-3">
        <li v-for="word in selectedTopic.words" class="words-list__item" @click="toggleCard(word, $event)">
          <div class="words-list__item__inner">
            <div class="words-list__item__front">{{ word.word }}</div>
            <div class="words-list__item__back">{{ word.translation }}</div>
          </div>
        </li>
      </ul>
      {% endverbatim %}
    </div>

    <div id="plans" v-cloak v-if="currentPage == 'plans'">
      <h3>Comming soon.</h3>
    </div>
  </div>
{% endblock %}

{% block inline_scripts %}
  topics = [
    {% for topic in topics %}
    {
      name: "{{ topic.name }}",
      words: [
        {% for word in topic.words.all %}
        {word: "{{word.word}}", translation: "{{word.translation}}", status: "{{word.status}}"},
        {% endfor %}
      ]
    },
    {% endfor %}
  ];
{% endblock %}
