/*
 * Sections
 */

.title {
  text-align: center;
}

.header {
  border-bottom: 1px solid black;
}

/*
 * List Container
 */

.list-container {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/*
 * Main Menu
 */

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.main-menu__item {
  cursor: pointer;
  padding: 5px 15px;
  border-right: 1px solid lightgray;
}

.main-menu__item:hover {
  background-color: #f7f7f7;
}

.main-menu__item_active {
  background-color: #f7f7f7;
  font-weight: bold;
}

/*
 * Topics List
 */

.topics-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 15px 5px;
}

.topics-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  min-width: 150px;
  box-shadow: 3px 2px 3px lightgrey;
}

.topics-list::-webkit-scrollbar {
  display: none;
}

/*
 * Words fitler
 */

.words-filter {
  padding: 7px 8px;
  border-bottom: 1px solid lightgray;
}


/*
 * Words table
 */

.words-table .words-table__controls {
  text-align: right;
}

.words-hint {
  border-bottom: 1px dashed rgba(var(--bs-dark-rgb),var(--bs-text-opacity));
  cursor: pointer;
}

/* Hide scrollbar for IE, Edge and Firefox */
.topics-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.topics-list__item_active {
  background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity));
  --bs-bg-opacity: 1;
}


/*
 * Vue.js utils
 */

/* Hides uninitialized content until Vue.js loads */
[v-cloak] {
  display: none;
}
