{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div id="scores" v-cloak>
  {% verbatim %}
  <div class="scoreboard-container" v-for="board in scoreboards">
    <h3 class="scores-header mt-3">{{ board.name }}</h3>

    <div class="scoreboard">
      <div class="score-item">
        <div class="score-item__name">{{ board.user_1.first_name }}</div>
        <div class="score-item__score">{{ board.user_1_score }}</div>
      </div>

      <div class="score-divider">
        <span class="score-divider__colon">:</span>
      </div>

      <div class="score-item">
        <div class="score-item__name">{{ board.user_2.first_name }}</div>
        <div class="score-item__score">{{ board.user_2_score }}</div>
      </div>
    </div>
  </div>
  {% endverbatim %}
</div>
{% endblock %}

{% block inline_scripts %}
csrfToken = "{{ csrf_token }}";
{% autoescape off %}
scoreboards = {{ scoreboards }};
{% endautoescape %}
{% endblock %}

{% block scripts %}
<script src="{% static 'main/js/scores.js' %}"></script>
{% endblock %}
