{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div id="words-trainer" v-cloak>
  {% verbatim %}
  <ul class="list-container topics-list mb-1">
    <li v-for="topic in topics" class="topics-list__item"
        @click="setTopicFilter(topic.id, $event)"
        v-bind:class="{'topics-list__item_active text-white': topic.id === filter.topic}">
      {{ topic.name }}
    </li>
  </ul>

  <div class="words-filter d-flex justify-content-end">
    <div class="btn-group btn-group-sm"
         role="group"
         aria-label="Статус слова">
      <button type="button"
              class="btn btn-secondary bi-lightbulb-off"
              @click="setStatusFilter('new', $event)"
              v-bind:class="{'text-dark bg-light': filter.status === 'new'}">
      </button>
      <button type="button"
              class="btn btn-secondary bi-lightbulb"
              @click="setStatusFilter('learning', $event)"
              v-bind:class="{'bg-warning': filter.status === 'learning'}">
      </button>
      <button type="button"
              class="btn btn-secondary bi-lightbulb-fill"
              @click="setStatusFilter('learned', $event)"
              v-bind:class="{'bg-success': filter.status === 'learned'}">
      </button>
    </div>
  </div>

  <table class="table words-table">
    <tr
      class="align-middle"
      v-for="word in words"
      v-bind:class="{'words-table__date-row': word.dateRow}"
    >
      <td>
        <span class="text-dark words-hint" v-tooltip data-toggle="tooltip"
              v-bind:title="word.translation">
          {{ word.word }}
        </span>
        <strong v-if="word.dateRow">{{ word.date }}</strong>
      </td>
      <td>
        <button
          class="btn btn-secondary btn-sm bi-play"
          @click="playFile(word)"
          v-if="word.audio">
        </button>
        <span class="text-secondary ms-2">
          {{ word.transcription }}
        </span>
      </td>
      <td class="words-table__controls">
        <div class="btn-group btn-group-sm pull-right" role="group" v-if="!word.dateRow"
             aria-label="Статус слова">
          <button type="button" class="btn btn-secondary bi-lightbulb-off"
                  @click="setWordStatus(word, 'new', $event)"
                  v-bind:class="{'text-dark bg-light': word.status === 'new'}">
          </button>
          <button type="button" class="btn btn-secondary bi-lightbulb"
                  @click="setWordStatus(word, 'learning', $event)"
                  v-bind:class="{'bg-warning': word.status === 'learning'}">
          </button>
          <button type="button" class="btn btn-secondary bi-lightbulb-fill"
                  @click="setWordStatus(word, 'learned', $event)"
                  v-bind:class="{'bg-success': word.status === 'learned'}">
          </button>
        </div>
      </td>
    </tr>
  </table>

  <div>
    <audio v-bind:id="'player-' + word.id" v-for="word in allWords">
      <source v-bind:src="word.audio" type="audio/mpeg">
    </audio>
  </div>
  {% endverbatim %}
</div>
{% endblock %}

{% block inline_scripts %}
csrfToken = "{{ csrf_token }}";
{% autoescape off %}
topics = {{ topics }};
words = {{ words }};
{% endautoescape %}
{% endblock %}

{% block scripts %}
<script src="{% static 'core/js/words.js' %}"></script>
{% endblock %}
